{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Crear Nueva Subasta</h2>
    <div class="card" style="background-color: rgb(128, 226, 226); padding: 20px; width: fit-content;">
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Producto:</label>
            <input style="width: 80ch;" type="text" name="name" class="form-control" id="name" placeholder="Producto"> 
        </div>
        <div style="margin-top: 10px" class="form-group">
            <label for="price">Precio:</label>
            <input style="width: 15ch; " type="number" min="0" name="price" class="form-control" id="price" placeholder="Precio">
        </div>
        <div style="margin-top: 10px;" class="form-group">
            <label for="description">Descripción:</label>
            <textarea style="width: 80ch; height: 20ch;" name="description" class="form-control" id="description" placeholder="Añada una descripción del Producto"></textarea>
        </div>
        <div style="margin-top: 10px; width: 80ch;" class="form-group">
            <label for="imgURL1">Link de la imagen #1:</label>
            <input type="text" name="imgURL1" class="form-control" id="imgURL1" placeholder="Añada el link de la imagen">
        </div>
        <div style="margin-top: 10px; width: 80ch;" class="form-group">
            <label for="imgURL2">Link de la imagen #2:</label>
            <input type="text" name="imgURL2" class="form-control" id="imgURL2" placeholder="Añada el link de la imagen">
        </div>
        <div style="margin-top: 10px; width: 80ch;" class="form-group">
            <label for="imgURL3">Link de la imagen #3:</label>
            <input type="text" name="imgURL3" class="form-control" id="imgURL3" placeholder="Añada el link de la imagen">
        </div>
        <div style="margin-top: 15px;" class="form-group">
            <label for="category">Escoja una categoria:</label>
            <select class="btn btn-secondary btn-sm dropdown-toggle" style="background-color: rgb(94, 94, 202);" name="category" id="category">
                {% for categoria in categorias %}
                <option style="text-align: left;" value="{{ categoria }}">{{ categoria }}</option>
                {% endfor %}
            </select>
        </div>
        <button style="margin-top: 20px;" type="submit" class="btn btn-primary">Crear subasta</button>
    </form>
    </div>

{% endblock %}