{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        {% if message %}
            {% if update %}
            <div class="alert alert-success" role="alert"> 
                {{ message }}
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endif %}
        {% endif %}
    </div>

    {% if not listingDetails.isActive and user == listingDetails.price.user %}
    <div class="alert alert-success" role="alert">
        La subasta terminó, ¡has ganado!
    </div>
    {% endif %}
            <h2 style="margin-top: 10px;">{{ listingDetails.name }}</h2>    
    <div class="modal-body row">
        <div class="col-md-7" style="margin-top: 3px;">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                    <img src="{{ listingDetails.imgURL1 }}" class="d-block w-100">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="{{ listingDetails.imgURL2 }}" class="d-block w-100">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="{{ listingDetails.imgURL3 }}" class="d-block w-100">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <div class="col-md-4">
            <div class="row my-5">
                {% if user.is_authenticated and listingDetails.isActive %}
                        <form action="{% url 'addBid' id=listingDetails.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="price"></label>
                                <input type="number" min="0" name="newBid" placehold="Ofertar" placeholder="Haga una Oferta"> <button type="submit" class="btn btn-primary">Ofertar</button>
                            </div>
                            <br>
                        </form>            
                    {% if subastaWatchlist %}
                        <form action="{% url 'removeWatchlist' id=listingDetails.id %}" method="POST"> 
                            {% csrf_token %}
                            <div>
                                <button type="submit" class="btn btn-danger">Quitar de Seguimiento</button> 
                            </div>
                            <br>
                        </form>
                    {% else %}
                        <form action="{% url 'addWatchlist' id=listingDetails.id %}" method="POST"> 
                            {% csrf_token %}
                            <div>
                                <button type="submit" class="btn btn-success">Hacer Seguimiento</button> </form>
                            <div>
                                <br>
                    {% endif %}
                    {% if isOwner %}
                    <form action="{% url 'endAuction' id=listingDetails.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Finalizar Subasta</button>
                    </form>            
                    {% endif %}
                {% endif %}
            </div>
            <h4 style="margin-top: 15px;">Precio Inicial ${{ listingDetails.price.bid }}</h4> 
            <p>{{ listingDetails.description }}</p>
            <p><strong>Usuario: {{ listingDetails.usuario }}</strong></p>
            </div>
        </div>
    </div>
    <h2>Comentarios</h2>

    <ul class="list-group">
        {% for comment in allComments %} 
        <li class="list-group-item">{{ comment.message }}
            <br>
            <p>Usuario: <strong>{{ comment.author }}</strong></p>
        </li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        <form action="{% url 'addComment' id=listingDetails.id %}" method="POST"> 
            {% csrf_token%}
            <div class="form-group">
                <label><h5>Haga un Comentario</h5></label>
                <br>
                <input type="textbox" name="newComment" placehold="Haga un Comentario"> 
                <button type="submit" class="btn btn-primary">Comentar</button>
            </div>
        </form>
    {% endif %}
    
{% endblock %}