{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
    <h2>Subastas Activas</h2>
    <form action="{% url 'chooseCategory' %}" class="my-2" method="POST">
        {% csrf_token %}
        <label for="category">Escoja una categoria</label>
            <select name="category" id="category">
                {% for categoria in categorias %}
                <option value="{{ categoria }}">{{ categoria }}</option>
                {% endfor %}
            </select>
        <button type="submit" class="btn btn-primary">Seleccionar</button>
    </form>
    <div class="row mx-2">
    {% for subastas in subastas %}
    <div class="card mx-2" style="width: 18rem;">
        <img src="{{ subastas.imgURL1 }}" class="card-img-top" alt="{{ subastas.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ subastas.name }}</h5>
          <p style="color: rgb(13, 126, 32);" class="card-text"><strong>$ {{ subastas.price.bid }}.</strong></p>
          <a href="{% url 'detalles' id=subastas.id %}" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    {% endfor %}
    </div>
    {% endblock %}