{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Ingresa</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
<div class="card" style="background-color: rgb(128, 226, 226); padding: 20px; width: fit-content; ">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Usuario">
        </div>
        <div style="margin-top: 10px;" class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Contraseña">
        </div>
        <input style="margin-top: 15px;" class="btn btn-primary" type="submit" value="Ingresar">
    </form>
</div>
    ¿No tienes cuenta? <a href="{% url 'register' %}">Registrate aquí.</a>

{% endblock %}