{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
    <h2>Lista de Seguimiento</h2>
    <div class="row mx-2">
    {% for watchlist in subastas %}
    <div class="card mx-2" style="width: 18rem;">
        <img src="{{ watchlist.imgURL1 }}" class="card-img-top" alt="{{ watchlist.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ watchlist.name }}</h5>
          <p class="card-text">$ {{ watchlist.price.bid }}.</p>
          {% if watchlist.isActive == True %}
            <p style="color: rgb(18, 124, 36);" class="card-text"><strong>Subasta Activa </strong></p>
          {% else %}
            <p style="color: brown;" class="card-text"><strong>Subasta Finalizada</strong></p>
          {% endif %}
          <a href="{% url 'detalles' id=watchlist.id %}" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    {% endfor %}
    </div>
    {% endblock %}